ul {
    list-style: none;
}
body {
    font-family: 'Rethink Sans', sans-serif;
    color: #fff;

}
.wrapper {
    width: 1440px;
    margin: 0 auto;
}
header {
    height: 100px;
    top : 0;
    position: sticky;
    z-index: 3;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header div.left img.botl {
    width: 70px;
    height : 70px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 30px;
}
header div.right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
header div.right ul li {
    margin-left: 15px;
    padding: 10px;
}
header div.right ul li:hover {
    color: #b5b5b5;
    cursor: pointer;
    background: #222020;
    border-radius: 5px;

}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.section_each {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
section.explore {
    padding-top: 100px;
}
section.explore .wrapper {
    display: flex;
    justify-content: space-between;
}
section.explore .wrapper div.left {
    width: 50%;
}
section.explore .wrapper div.left img {
    height: 50%;
    border-radius: 10px 35px 35px 35px;
    margin-right : 0;
}
section.explore .wrapper div.right {
    margin-top: 50px;
    width: 50%;
}
section.explore .wrapper div.right h1 {
    font-size: 50px;
    margin-bottom: 20px;
    display: inline;

}
@keyframes changeHue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

section.explore .wrapper div.right h1.aui {
    background: linear-gradient(#30cfd0, #330867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: changeHue 3s linear infinite;
    cursor: pointer;
}
section.explore .wrapper div.right span {
    margin-top: 3px;
}
section.explore .wrapper div.right p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}
section.explore .wrapper div.right button {
    margin-top: 50px;
    background: rgb(88, 101, 242);
    padding : 20px 45px;
    border : none;
    color: #fff;
    font-family: 'Rethink Sans', sans-serif;
    border-radius : 40px;
}
section.ai .wrapper {
    display: flex;
    justify-content: space-between;
}
section.ai div.left {
    width: 50%;
    display: flex;
    position: relative;

}
section.ai div.left .imgcontrainerinai {
    background: #3d3b3b;
    height: 400px;
    width: 400px;
    padding: 30px;
    margin-bottom: 30px;
    position : absolute;
    animation: changeHue 3s linear infinite;
}
section.ai div.left .containerone {
    background:linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    z-index : 2;
    transform : rotate(-20deg);

}
section.ai div.left .containertwo {
    background-image: linear-gradient(to right top, #004d7a, #008793, #00bf72, #a8eb12, #051937);
    z-index : 3;
    margin-left : 100px;
    transform : rotate(-15deg);
}
section.ai div.left .imgcontrainerinai img {
    width: auto;
    height: 400px;
}
section.ai div.right {
    width: 48%;
}
section.ai div.right h1 {
    font-size: 46px;
}
section.generativeai .wrapper {
    display: flex;
    justify-content: space-between;
}
section.generativeai .section_each {
    width: 25%;
    height: 70vh;
    padding: 1em;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(359deg, rgba(182,103,200,0.9), rgba(116,245,243,0.5)) 1;
    border-radius: 4px;
}

@keyframes Rotate {
    100% {
        transform:rotate(360deg);
    }
}
section.generativeai .generative div.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
section.generativeai .generative div.left img {
    margin-top: 30px;
    height: 20vh;
    animation: Rotate 3s infinite;
}
section.generativeai .generative div.right h1 {
    font-size: 33px;
    margin-bottom: 60px;
}
section.generativeai .generative div.right h3 {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}
section.generativeai .imageai  .left h1 {
    font-size: 33px;
    margin-bottom: 40px;
}
section.generativeai .imageai  .left h3 {
    margin-bottom: 20px;
}
section.generativeai .imageai div.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
section.generativeai .imageai div.right img {
    margin-top: 30px;
    border-radius: 30px;
}
section.generativeai .generateimageai .wrapperbetter  div.left {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
section.generativeai .generateimageai .wrapperbetter  div.left img {
    margin-top: 50px;
    width: 350px;
    opacity: 30%;
    border-radius: 10px;
}
section.generativeai .generateimageai .wrapperbetter div.right h1 {
    font-size: 33px;
}
section.generativeai .generateimageai .wrapperbetter div.right h3 {
    margin-bottom: 30px;
}
.window {
    background: #2d2d2d;
    height: 20vh;

    border-radius: 3px;
}
.window .head {
    height: 3vh;
    background: #443f3f;
}
.window .head .balls {
    display: flex;
    justify-content: space-between;
    padding: 0.4em;
    max-width : 10vh;
}



.window .head .roundedcricleforwindow {
    display:block;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background: #000000;
}

.window .head .balls .red {
    background: #ff605c;
}
.window .head .balls .yello {
    background: #FFBD44;
}
.window .head .balls .green {
    background: #00ca4e;
}
.window .head .balls .blue {
    background: #3498db;
}
.gaming {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}
